body {
	//padding: 10px;
	font-size: 14px !important;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background-image: url("/images/bg-pattern.png");
}

/****************/

.heading-lbl {
	font-weight: 500;
	font-size: 18px;
	margin-top: 5px;
}

.sc-float-left {
	float: left;
}

.sc-float-right {
	float: right;
}

/*****************/

.content {
	height: calc(100% - 80px);
	position: absolute;
	top: 80px;
	left: 0px;
	width: 100%;
	/*overflow: hidden;*/
	/*background: #f3f3f3;*/
	padding: 20px;
}

.navbar-default .navbar-brand {
	color: white !important;
}

.navbar-default {
    background-color: #ed1d24 !important;
    border-color: #ed1d24 !important;
}

.navbar-default .navbar-nav>li>a {
	color: white !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.welcome {
	font-size: 18px;
	background: white;
}
.profileImage {
	height: 40px;
	width: 40px;
	margin-top: -10px !important;
	border-radius: 50%;
}

.headerField {
	display: inline-block;
	vertical-align: middle;
}

.userName {
	margin: 15px 5px;
	font-size: 16px;
	font-weight: 500;
	line-height: 50px;
}
.ticket {
	height: 200px;
	width: 80px;
	border: 1px solid;
	margin: 10px;
	text-align: center;
	display: inline-block;
	float: left;
}

.code {
	height: 30px;
	line-height: 30px;
	width: 100%;
	border-bottom: 1px solid;
}

.status {
	height: 140px;
	width: 100%;
	border-bottom: 1px solid;
}

.iHaveIt {
	background-color: rgba(0, 230, 0, 0.5)
}

.extras {
	height: 30px;
	width: 100%;
}

.status-button {
	margin: auto;
    position: relative;
    top: calc(50% - 25px);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid #E5E5E5;
    padding: 15px;
}

.cursor-pointer {
	cursor: pointer;
}
